* {
  box-sizing: border-box;
}

html {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  font-size: 62.5%;
  color: #333;
}

body {
  font-size: 1.7em;
  border-top: 3px solid #53B482;
}

h1 {
  padding: 0 0 .4em 0;
}

/* forms */
input,
textarea,
button {
  padding: .55em;
  border: 1px solid #ccc;
  font-size: .95em;
  outline: none;
}

button {
  background-color: #53B482;
  color: #fff;
  border-color: #438F68;
  padding: .5em 1em;
  margin: 0 0 0 .5em;
}

button:focus,
button:hover {
  background-color: #63C994;
}

label {
  display: block;
  margin: 0 0 .3em 0;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
}

/* form extends */
.button--link {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #333;
}

.button--link:hover,
.button--link:focus {
  background-color: transparent;
  color: #53B482;
}

.button--white {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

.button--white:hover,
.button--white:focus {
  border-color: #ccc;
  background-color: #fff;
}

/* app */
.sandglass {
  width: 41em;
  margin: 2em auto;
}

.sandglass__header {
  border-bottom: 1px solid #ccc;
  padding: 0 0 1em 0;
  margin: 0 0 1.5em 0;
}

.sandglass__search {
  float: right;
  margin: .2em 0 0 0;
  position: relative;
  width: 30em;
  font-size: .9em;
}

.sandglass__search-start,
.sandglass__search-end {
  width: 7em;
}

.sandglass__headline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.sandglass__headline-icon {
  margin: 0 .2em 0 0;
  color: #53B482;
}

.sandglass__timeline-filter {
  margin-left: -4px;
  border-left: none;
  padding-top: .55em;
  padding-bottom: .55em;
}


/* tracking */

.track__field--inline {
  display: inline-block;
  vertical-align: top;
}

.track__activity {
  width: 14em;
}

.track__project {
  width: 10em;
  border-left: none;
}

.track__description {
  border-left: none;
  width: 14em;
}

/* timeline */
.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.timeline .timeline__item:nth-child(2n+2) {
  background-color: #FCFCFC;
}

.timeline__item {
  position: relative;
  padding: 1em 1em 1em 0;
  border-left: 1px solid #ccc;
}

.timeline__item--hidden {
  display: none;
}

.timeline__circle {
  margin-left: -7px;
  background-color: #f7f7f7;
  color: #53B482;
}

.timeline__item--track .timeline__circle {
  /*
  -webkit-animation-duration: .5s;
  -webkit-animation-name: animation_opacity;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  */
}

.timeline__group {
  position: absolute;
  left: -7em;
  font-size: .9em;
  top: 1.45em;
}

.timeline__button {
  position: absolute;
  top: 1.9em;
  font-size: .8em;
}

.timeline__item-restart {
  right: 30px;
}

.timeline__item-delete {
  right: 15px;
}

.timeline__item-end {
  display: none;
  right: 30px;
}

.timeline__item--track .timeline__item-end {
  display: inherit;
}

.timeline__item--track .timeline__item-restart {
  display: none;
}

.timeline__duration {
  margin-left: 1em;
  font-size: .9em;
  width: 7.5em;
  display: inline-block;
}

.timeline__headline {
  display: inline-block;
  font-size: .9em;
  margin: 0 0 0 1em;
  color: #53B482;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 13em;
}

.timeline__activity,
.timeline__project,
.timeline__description {
  outline: none;
  padding: .2em;
  display: inline-block;
}

.timeline__activity:focus,
.timeline__project:focus,
.timeline__description:focus {
  background-color: #fff;
}

.timeline__description {
  margin: .5em 0 0 1.6em;
  font-size: .8em;
  line-height: 1.3;
  max-width: 20em;
  vertical-align: top;
}

/* animation */
@-webkit-keyframes animation_opacity {
  from   { opacity: 0; }
  to { opacity: 1; }
}

/* jquery ui overwrite */
.ui-autocomplete {
  font-size: .9em;
  border-top: none;
}

.ui-autocomplete .ui-state-focus {
  border-color: #fff;
  color: #53B482;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: inline-block;
  vertical-align: middle;
}

.ui-autocomplete .autocomplete__delete {
  display: inline-block;
  float: right;
  vertical-align: middle;
  color: #D15151;
}

.ui-autocomplete .autocomplete__delete.ui-state-focus {
  background: #D15151;
  color: #fff;
}


.ui-datepicker {
  font-size: .9em;
}

.ui-datepicker .ui-state-highlight {
  border-color: #53B482;
}

.ui-widget-header {
  border: none;
  color: #53B482;
}