* {
  box-sizing: border-box;
}

html {
  background-color: #EBEBEB;
  font-family: Arial, sans-serif;
  font-size: 62.5%;
  color: #333;
}

body {
  font-size: 1.7em;
}

a {
  color: #53B482;
}

h1 {
  padding: 0 0 .4em 0;
}

/* forms */
.form--error input {
  border-color: red;
}

input,
textarea,
button {
  padding: .55em;
  font-size: .95em;
  outline: none;
  border: none;
}

label {
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: #53B482;
  color: #fff;
  border-color: #438F68;
  padding: .65em 1.3em;
  margin: 0;
}

button:focus,
button:hover {
  background-color: #63C994;
}

label {
  display: block;
  margin: 0 0 .3em 0;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
}

/* form extends */
.button--link {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #333;
}

.button--link:hover,
.button--link:focus {
  background-color: transparent;
  color: #53B482;
}

.button--white {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
}

.button--transparent {
  background-color: transparent;
  border: none;
  color: #333;
}

.button--white:hover,
.button--white:focus {
  border-color: #ccc;
  background-color: #fff;
}

.button--transparent:hover,
.button--transparent:focus {
  color: #53B482;
  background-color: transparent;
}

.form--centered {
  background-color: #fff;
  padding: 1em;
}

/* app */
.sandglass {
  width: 50em;
  margin: 0 auto 2em auto;
}

.sandglass__header {
  padding: .3em 1.6em .8em 1em;
  margin-left: -6.5em;
}

.sandglass__search {
  padding: .5em 1.4em;
  text-align: right;
  font-size: .9em;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  margin: 1.4em -1.1em 0 -1.1em;
  background-color: #fff;
  border-top: 1px solid #438F68;
}

.sandglass__search-startend {
  display: inline-block;
  vertical-align: middle;
  padding: .07em 0;
}

.sandglass__search-start,
.sandglass__search-end {
  width: 5.4em;
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  color: #949494;
}

.sandglass__search-start {
  margin-right: .3em;
}

.sandglass__search-icon {
  display: inline-block;
  margin: 0 .5em 0 0;
  color: #949494;
}

.sandglass__sortby {
  display: inline-block;
  vertical-align: middle;
  color: #949494;
  float: left;
  position: relative;
  top: .5em;
}

.sandglass__sortby-icon {
  margin: 0 .5em 0 0;
  display: inline-block;
  color: #949494;
}

.sandglass__sortby-button {
  border: none;
  padding: 0 .5em;
  background: transparent;
  color: #949494;
}

.sandglass__sortby-button:hover,
.sandglass__sortby-button:focus {
  background-color: transparent;
  color: #53B482;
  text-decoration: underline;
}

.sandglass__sortby-button--active {
  color: #53B482;
}

.sandglass__headline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  padding: .3em 0 0 0;
  margin: 0;
  font-size: 1.4em;
}

.sandglass__headline > .fa {
  color: #438F68;
}

.sandglass__timeline-filter {
  margin-left: -4px;
  border-left: none;
  padding-top: .55em;
  padding-bottom: .55em;
}

.sandglass__graph {
  background-color: #fff;
  border-left: 3px solid #53B482;
  border-right: 1px solid #e4e4e4;
}


/* tracking */
.track {
  margin-left: -6.5em;
  padding: 1.3em 1em 0 1em;
  background-color: #53B482;
  border-top: 3px solid #438F68;
}

.track__row--hidden {
  display: none;
}

.track__row--date {
  margin-top: 1em;
  color: #fff;
  font-size: .8em;
  padding-left: .7em;
}

.track__row--date-start-end > .track__field:first-child {
  margin-left: -.7em;
}

.track__field--inline {
  display: inline-block;
  vertical-align: middle;
}

.track__field--hidden {
  display: none;
}

.track__task,
.track__project,
.track__description,
.track__date-start,
.track__date-end,
.track__time-start,
.track__time-end {
  color: #fff;
  background-color: #47976E;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.track__date-label {
  margin: 0;
  padding: .4em 0;
}

.track__task::-webkit-input-placeholder,
.track__project::-webkit-input-placeholder,
.track__description::-webkit-input-placeholder {
  color: #E2F8ED;
}

.track__date-end::-webkit-input-placeholder,
.track__time-end::-webkit-input-placeholder {
  color: #63B48C;
}

.track__task:focus,
.track__project:focus,
.track__description:focus {
  background-color: #3E7C5C;
}

.track__task {
  width: 10.5em;
}

.track__date-start,
.track__date-end {
  width: 7.3em;
}

.track__time-start,
.track__time-end {
  width: 5.5em;
}

.track__project {
  width: 10.5em;
}

.track__description {
  width: 28em;
}

.track__button {
  padding-left: 2.2em;
  padding-right: 2.2em;
  color: #fff;
  background-color: #63C994;
}

.track__button:hover,
.track__button:focus {
  background-color: #47976E;
}

/* timeline */
.timeline__group-ul {
  list-style: none;
  padding: 0;
  margin: .8em 0 0 0;
}

.timeline__item {
  position: relative;
  padding: 1em;
  border-bottom: 1px solid #f0f0f0;
  min-height: 4em;
  background-color: #F8F8F8;
}

.timeline__item--hidden {
  display: none;
}

.timeline__groupHeader {
  font-size: .9em;
  overflow: hidden;
  padding: .3em 0 .3em 8.5em;
  margin-left: -7.2em;
  margin-bottom: .4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
}

.timeline__group-duration {
  display: inline-block;
  margin-left: .8em;
}

.timeline__button {
  position: absolute;
  top: 0;
  font-size: .8em;
  display: none;
  height: 100%;
  padding: 0 .8em;
  color: #333;
  background-color: transparent;
}

.timeline__item:hover .timeline__button,
.timeline__item:focus .timeline__button {
  display: inherit;
}

.timeline__item-delete {
  right: -65px;
  background-color: #f5f5f5;
}

.timeline__item-delete:before {
  content: '\f014';
  font-family: FontAwesome;
  display: inline-block;
}

.timeline__item-end {
  right: 0;
  background-color: #53B482;
  color: #fff;
  text-shadow: 1px 1px #438F68;
  border-left: 1px solid #438F68;
  display: inline-block;
}

.timeline__item-end:hover,
.timeline__item-end:focus {
  background-color: #63C994;
  color: #fff;
}

.timeline__item-end:before {
  content: '\f04c';
  font-family: FontAwesome;
  display: inline-block;
}

.timeline__item-edit {
  right: -35px;
  background-color: #f5f5f5;
  border-left: 3px solid #53B482;
  border-right: 1px solid #f0f0f0;
}

.timeline__item-edit:before {
  content: '\f040';
  font-family: FontAwesome;
  display: inline-block;
}

.timeline__item-edit:hover,
.timeline__item-edit:focus,
.timeline__item-delete:hover,
.timeline__item-edit:focus {
  background-color: #fff;
}

.timeline__item--edit .timeline__item-edit,
.timeline__item--edit .timeline__item-delete {
  display: inherit;
}

.timeline__item--conflict {
  border-top: 3px solid #FF9A3D;
}

.timeline__time {
  position: absolute;
  top: 0;
  left: -6.5em;
  width: 6.5em;
  height: 100%;
  background-color: #fff;
  color: #949494;
  border-right: 1px solid #f0f0f0;
}

.timeline__duration {
  position: absolute;
  top: .9em;
  right: 1em;
  color: #53B482;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.timeline__headline {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin: 0;
  line-height: 1;
  font-weight: 200;
  display: inline-block;
  vertical-align: top;
  width: 14em;
}

.timeline__parsedEnded,
.timeline__parsedStarted {
  display: inline-block;
}

.timeline__task:focus,
.timeline__project:focus,
.timeline__description:focus {
  background-color: #fff;
}

.timeline__task {
  display: inline-block;
  font-weight: 400;
}

.timeline__project {
  font-size: 0.9em;
  color: #949494;
}

.timeline__description {
  font-size: .8em;
  line-height: 1.6;
  display: inline-block;
  vertical-align: top;
  width: 42.5em;
  margin: 0;
}

.timeline__tag {
  color: #fff;
  text-decoration: none;
  background-color: #53B482;
  padding: .27em .3em .25em .5em;
  border-radius: 0 2px 2px 0;
  position: relative;
  margin-left: 10px;
  font-size: .9em;
}

.timeline__tag:before {
  content: '';
  position: absolute;
  top: 0;
  left: -9px;
  width: 0;
  height: 0;
  border-color: transparent #53B482 transparent transparent;
  border-style: solid;
  border-width: 9px 9px 9px 0;
}

.timeline__tag:after {
  content: '';
  position: absolute;
  top: 7px;
  left: -2px;
  border-radius: 2px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  box-shadow: -1px -1px 2px rgba(15, 15, 15, 0.31);
}

.timeline__parsedStartEnd {
  position: absolute;
  top: 3.5em;
  right: 1em;
  font-size: .75em;
}

/* animation */
@-webkit-keyframes animation_opacity {
  from   { opacity: 0; }
  to { opacity: 1; }
}

/* jquery ui overwrite */
.ui-autocomplete {
  font-size: .9em;
  border-top: none;
}

.ui-autocomplete .ui-state-focus {
  border-color: #fff;
  color: #53B482;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: inline-block;
  vertical-align: middle;
}

.ui-autocomplete .autocomplete__delete {
  display: inline-block;
  float: right;
  vertical-align: middle;
  color: #D15151;
}

.ui-autocomplete .autocomplete__delete.ui-state-focus {
  background: #D15151;
  color: #fff;
}


.ui-datepicker {
  font-size: .9em;
}

.ui-datepicker .ui-state-highlight {
  border-color: #53B482;
}

.ui-widget-header {
  border: none;
  color: #53B482;
}

.ui-datepicker-header {
  background: #53B482;
  color: #fff;
}

/* nvd3 overwrites */
svg text {
  fill: #949494;
}

/* login */
.login {
  display: inline-block;
  vertical-align: top;
  margin: .4em 0 0 4.96em;
  text-align: right;
  float: right;
}

.login__text {
  font-size: .8em;
  margin: .6em 13.3em 0 0;
  border-radius: 2px;
  border: none;
}

.login__email {
  width: 10em;
  border-radius: 2px 0 0 2px;
  border: none;
  color: #333;
  font-size: .9em;
  border: 1px solid #e4e4e4;
}

.login__password {
  width: 10em;
  border-radius: 0 2px 2px 0;
  border: none;
  font-size: .9em;
  border: 1px solid #e4e4e4;
  border-left: none;
  margin-left: -4px;
}

.login__submit {
  padding: .32em .8em;
}

/* signup */
.signup {
  border-top: 3px solid #53B482;
  width: 30em;
  margin: 2em auto;
}

.signup__headline {
  margin: 0 0 .5em 0;
  font-size: 1.3em;
  font-weight: 100;
}

.signup__name,
.signup__email,
.signup__password {
  margin-left: 2.95em;
  border: 1px solid #e4e4e4;
  border-left: none;
}

.signup__name-wrap,
.signup__email-wrap,
.signup__password-wrap {
  position: relative;
}

.signup__name {
  width: 18em;
}

.signup__password,
.signup__email {
  width: 18em;
}

.signup__name-wrap:before {
  content: '\f007';
  position: absolute;
  font-family: FontAwesome;
  top: 0;
  left: 0;
  border: 1px solid #e4e4e4;
  height: 101%;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: .3em .8em;
  color: #949494;
  width: 2.4em;
}

.signup__password-wrap:before {
  content: '\f084';
  position: absolute;
  font-family: FontAwesome;
  top: 0;
  left: 0;
  border: 1px solid #e4e4e4;
  border-top: none;
  height: 101%;
  box-sizing: border-box;
  font-size: 1.1em;
  padding: .4em .88em;
  color: #949494;
  width: 2.6em;
}

.signup__email-wrap:before {
  content: '\f003';
  position: absolute;
  font-family: FontAwesome;
  top: 0;
  left: 0;
  border: 1px solid #e4e4e4;
  border-top: none;
  height: 101%;
  box-sizing: border-box;
  font-size: 1.1em;
  padding: .4em .88em;
  color: #949494;
  width: 2.6em;
}

.signup__password-wrap {
  margin-bottom: 1em;
}

/* user */
.user {
  display: inline-block;
  font-size: .8em;
  float: right;
  margin: .6em -2em 0 0;
  position: relative;
}

.user__settings {
  background-color: #fff;
  padding: 1em;
  margin-left: -5.5em;
}

.user__userinfo {
  display: inline-block;
  margin: 0 0 0 .5em;
}

.user__image {
  vertical-align: top;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #e4e4e4;
}

.user__name {
  display: block;
}

.user__email {
  display: block;
}